name: release-with-tag

on:
  push:
    tags:
      - 'v*'

env:
  NAR_NAME: GhostSpeaker

jobs:
  release-with-tag:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Zip output
      run: |
        mkdir -p /tmp/nar_temp
        rsync -av --filter=':- md5buildignore.txt' . /tmp/nar_temp/
        echo "=== Files to be included in NAR ==="
        find /tmp/nar_temp -type f | sort
        echo "==================================="
        cd /tmp/nar_temp
        zip -r $GITHUB_WORKSPACE/${{ env.NAR_NAME }}.nar *
    - name: Create release
      id: create_release
      uses: actions/create-release@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
    - name: Upload Release Asset(with tag)
      uses: softprops/action-gh-release@v2
      with:
        files: |
          ${{ env.NAR_NAME }}.nar
        asset_name: ${{ env.NAR_NAME }}.nar
        asset_content_type: application/zip
